@font-face{ 
	font-family: 'pacFont';
	src: url('assets/fonts/pac-font.eot');
	src: url('assets/fonts/pac-font.eot?#iefix') format('embedded-opentype'),
	     url('assets/fonts/pac-font.woff') format('woff'),
	     url('assets/fonts/pac-font.ttf') format('truetype');
}
body
{
	padding-top: 30px;
	padding-left: 300px;
	margin: 0px;

	background-color: #000000;

	/*background-image: url('assets/images/pageBg.png');
	background-attachment:fixed;
	background-size: cover;
	*/
    font-family: 'pacFont';
    color: #ffffff;
}

